html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

body {
    margin: 0;
}

main {
    display: block;
    width: 100vw;
}

main::after {
    display: table;
    content: "";
    clear: both;
}

#container-1-2-3,
#container-6-7 {
    float: left;
}

#container-4-5,
#container-6,
#container-7 {
    float: right;
}

.img-container {
    float: left;
}

[class*="aspect-ratio-"] {
    height: 0;
    margin: 10px;
    background: darkolivegreen;
}

.aspect-ratio-1-1 {
    padding-top: 100%;
}

.aspect-ratio-1-2 {
    padding-top: 200%;
}

.aspect-ratio-3-1 {
    padding-top: 33.33%;
}

.img {
    background-color: beige;
    background-size: cover;
}

#img1 {
    background-image: url("https://github.com/Gina-K/adaptive_image_grid/blob/gh-pages/img/img1.jpg?raw=true");
}

#img2 {
    background-image: url("https://github.com/Gina-K/adaptive_image_grid/blob/gh-pages/img/img2.jpg?raw=true");
}

#img3 {
    background-image: url("https://github.com/Gina-K/adaptive_image_grid/blob/gh-pages/img/img3.jpg?raw=true");
}

#img4 {
    background-image: url("https://github.com/Gina-K/adaptive_image_grid/blob/gh-pages/img/img4.jpg?raw=true");
}

#img5 {
    background-image: url("https://github.com/Gina-K/adaptive_image_grid/blob/gh-pages/img/img5.jpg?raw=true");
}

#img6 {
    background-image: url("https://github.com/Gina-K/adaptive_image_grid/blob/gh-pages/img/img6.jpg?raw=true");
}

#img7 {
    background-image: url("https://github.com/Gina-K/adaptive_image_grid/blob/gh-pages/img/img7.jpg?raw=true");
}


/* Small phones */
[class*="col-"] {
    width: 100vw;
}

@media only screen and (min-width: 400px) {
    /* Big phones */
    .col-s-1 {
        width: 33.33vw;
    }

    .col-s-2 {
        width: 66.66vw;
    }

    .col-s-3 {
        width: 100vw;
    }

    #container-2,
    #container-3 {
        float: right;
    }
}

@media only screen and (min-width: 600px) {
    /* Tablets */
    .col-m-1 {
        width: 25vw;
    }

    .col-m-2 {
        width: 50vw;
    }

    .col-m-3 {
        width: 75vw;
    }

    .col-m-4 {
        width: 100vw;
    }

    #container-2,
    #container-3 {
        float: left;
    }
}